#colorFresa {
    font-family: "Montserrat", system-ui;
    color: #d1004b;
}

#colorBanano {
    font-family: "Montserrat", system-ui;
    color: #dee21a;
}

#colorKiwi {
    font-family: "Montserrat", system-ui;
    color: #25700d;
}

#colorPapaya {
    font-family: "Montserrat", system-ui;
    color: #9e5812;
}

#colorMora {
    font-family: "Montserrat", system-ui;
    color: #3f0733;
}