body {
    margin-top: 0px;
}

body header {
    background-color: aqua;
    height: 40px;
}

body header nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    

}


body header nav a {
    font-family: "Montserrat", system-ui;
    font-size: 16px;
    margin-top: 10px;
}